@import '../../styles/all';

.homeContainer {
  background: $colorSecondary;
  padding: 20px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tabNav {
    display: flex;
    gap: 15px;

    .tab {
      cursor: pointer;
      &.active {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }

  .numberOfMarkets {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $colorTertiary;
    padding: 20px 0;

    .amount {
      color: $colorWhite;
    }
  }

  .marketsOverview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .status {
      color: $colorTertiary;
    }
  }
}
