@import '../../styles/all';

.homeContainer {
  max-width: $screen-lg;
  background: $colorSecondary;
  padding: 50px 20px 20px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tabNav {
    display: flex;
    gap: 5px;
    border-bottom: 1px solid $colorWhite50;

    .tab {
      cursor: pointer;
      padding: 10px 20px 3px;
      color: $colorWhite50;
      &.active {
        color: $colorWhite;
        border-bottom: 2px solid $colorPrimary;
        font-weight: 600;
      }
    }
  }

  .numberOfMarkets {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $colorTertiary;
    padding: 20px 0;

    .amount {
      color: $colorWhite;
    }
  }

  .marketsOverview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .status {
      color: $colorTertiary;
    }
  }
}
