@import '../../styles/all';

.homeContainer {
  background: $colorSecondary;
  padding: 20px;
  margin: 0 auto;
  font-size: 1rem;

  .numberOfMarkets {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $colorTertiary;
    padding: 20px 0;

    .amount {
      color: $colorWhite;
    }
  }

  .marketsOverview {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .status {
      color: $colorTertiary;
    }

    .marketContainer {
      background: $colorBgCardItem;
      border-radius: 8px;
      width: 15rem;
      height: 15rem;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      .questionContainer {
        display: flex;
        flex-direction: column;

        .question {
          font-weight: 600;
        }

        .outcomes {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          padding: 20px 0;
          .outcome {
            border-radius: 8px;
            text-transform: uppercase;
            border: 1px solid;
            width: fit-content;
            padding: 5px 10px;
            max-width: 100px;
            min-width: 50px;
            text-align: center;
            font-size: 1rem;

            user-select: none;
            cursor: pointer;

            &:nth-child(1) {
              border-color: $colorChoiceColorOne;
            }
            &:nth-child(2) {
              border-color: $colorChoiceColorTwo;
            }
            &:nth-child(3) {
              border-color: $colorChoiceColorThree;
            }
            &:nth-child(4) {
              border-color: $colorChoiceColorFour;
            }
          }
        }
      }

      .liquidity {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
}
