@import '../../styles/all';

.stakeRow {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px 0;
  align-items: center;

  .amount {
    text-align: right;
  }

  @media (max-width:$screen-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .user {
      display: none;
    }
  }

  & > button {
    border-radius: 5px;
    border: 1px solid $colorTertiary;
    font-weight: 900;
    cursor: pointer;
    background: transparent;
    color: $colorWhite;
    height: 30px;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}
