@import '../../styles/all';

.primaryButton {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: $colorBlack;
  box-sizing: border-box;
  border-radius: 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: $globalFont;
  padding: 8px 30px;
  text-transform: none;
  user-select: none;
  text-align: center;
  position: relative;

  @media (max-width: $screen-sm) {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.primaryButtonS {
    font-size: 14px;
  }

  .buttonContent {
    width: fit-content;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
  }

  & > svg {
    width: 100%;
    z-index: 0;
    position: absolute;
  }
}

.secondaryButtonLight,
.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorWhite;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid $colorTertiary;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: $globalFont;
  padding: 8px 30px;
  text-transform: none;
  user-select: none;
  text-align: center;

  &.secondaryButtonLight {
    color: $colorWhite;
    border: 2px solid $colorTertiary;
    background: $colorSecondary;
  }

  @media (max-width: $screen-sm) {
    font-size: 18px;
  }

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  .buttonContent {
    width: fit-content;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
  }

  & > svg {
    width: 100%;
    z-index: 0;
    position: absolute;
  }
}
