@import '../../styles/all';

.marketContainer {
  background: $colorWhite;
  border-radius: 8px;
  height: auto;
  display: flex;
  flex: 1;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  overflow: hidden;

  @media (max-width: $screen-xs) {
    width: 100%;
  }

  .loadingLayer {
    position: absolute;
    background: $colorBgCardItemLoading;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;

    a {
      color: $colorSecondary;
    }
  }

  .imageContainer {
    width: 100%;
    height: 300px;
    position: relative;

    @media (max-width: $screen-xs) {
      height: 200px;
    }

    .imageWrapper {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;

      & > img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;
      }

    }
  }

  .questionContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .question {
      font-weight: 600;
      color: $colorSecondary;
    }

    .outcomes {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 20px 0;
      .outcome {
        background: transparent;
        color: $colorSecondary;
        border-radius: 8px;
        text-transform: uppercase;
        border: 1px solid;
        width: fit-content;
        padding: 5px 10px;
        max-width: 150px;
        min-width: 50px;
        text-align: center;
        font-size: 1rem;

        user-select: none;
        cursor: pointer;

        &:nth-child(1) {
          border-color: $colorChoiceColorOne;
          &.active {
            background: $colorChoiceColorOne20;
            font-weight: 700;
          }
        }
        &:nth-child(2) {
          border-color: $colorChoiceColorTwo;
          &.active {
            background: $colorChoiceColorTwo20;
            font-weight: 700;
          }
        }
        &:nth-child(3) {
          border-color: $colorChoiceColorThree;
          &.active {
            background: $colorChoiceColorThree20;
            font-weight: 700;
          }
        }
        &:nth-child(4) {
          border-color: $colorChoiceColorFour;
          &.active {
            background: $colorChoiceColorFour20;
            font-weight: 700;
          }
        }
      }
    }

    .amountBet {
      display: flex;
      column-gap: 5px;
      align-items: center;
      padding: 0 0 10px;
      color: $colorSecondary;

      & > input {
        width: 143px;
        text-align: right;
        border-radius: 6px;
        border: 0;
        background: $colorLightPurple16;
        color: $colorSecondary;
        outline: none;
      }
    }
  }

  .liquidity, .staked {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: $colorSecondary;
    padding: 0 20px;

    span {
      text-transform: none;
    }
  }

  .staked {
    padding: 0 20px 20px;
  }
}
