@import '../../styles/all';

.navbarContainer {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  padding: 20px;

  .leftContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    .menu {
      display: flex;
      gap: 15px;

      a {
        color: $colorWhite;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }

}
