@import '../../styles/all';

.walletWidgetContainer {
  font-size: 1.5rem;

  .walletWidget {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1rem;

    button {
      border: 1px solid $colorTertiary;
      color: $colorWhite;
      outline: none;
      background: none;
      border-radius: 6px;
    }
  }
}
