@import '../../styles/all';

.marketContainer {
  max-width: $screen-lg;
  background: $colorSecondary;
  padding: 50px 20px 20px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
